*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--naranja: rgb(190, 129, 16);
	--transicion: all 0.4s ease;
}
.contenedor {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: column;
	gap: 2em;
	width: calc(100% - 10em);
	margin-inline: auto;
}
h1 {
	margin-top: 2em;
}
h2 {
	margin-bottom: 1em;
}
.aviso {
	color: tomato;
}
.fila {
	display: flex;
	flex-flow: row wrap;
	padding: 1em;
	gap: 2em;
}
aside {
	display: flex;
	flex-direction: column;
	max-width: 30%;
}
.lista-categorias {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}
input[type='checkbox'] {
	margin-right: 0.5em;
}
section {
	max-width: 70%;
}
.lista-productos {
	display: flex;
	flex-flow: row wrap;
	gap: 1em;
}
article {
	flex-basis: 300px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1em;
	box-shadow: 0 0 5px 3px rgba(124, 124, 124, 0.507);
	padding: 1em;
	border-radius: 5px;
}
.img-wrapper {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	transition: var(--transicion);
}
.img-wrapper img {
	max-width: 180px;
	height: auto;
	align-self: center;
}
.img-wrapper span {
	position: absolute;
	bottom: 30%;
	right: 0;
	z-index: 1;
	transform: translateX(101%);
	background-color: var(--naranja);
	cursor: pointer;
	user-select: none;
	padding: 0.4em 0.6em;
	transition: var(--transicion);
	clip-path: polygon(5% 0, 100% 0, 100% 100%, 5% 100%, 0 50%);
}
.img-wrapper:hover span {
	transform: translateX(0%);
}
.img-wrapper span:hover {
	color: white;
}
article strong {
	color: var(--naranja);
}
